.welcome-container {
  background-color: #1e293b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  font-family: 'Bree Serif';
  font-size: 50px;
  color: #f0bb03;
}

.para {
  font-family: 'Bree Serif';
  font-size: 30px;
  color: #ffffff;
  text-align: center;
}

.button {
  font-family: 'Bree Serif';
  font-size: 18px;
  color: #1e293b;
  background-color: #ffffff;
  cursor: pointer;
  outline: none;
  border-width: 0px;
  border-radius: 15px;
  height: 50px;
  width: 120px;
}
